#divborder{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5%;
    width: 55%;
    background-color: white;
}

body{
    background-color: rgb(240, 248, 255);
}

label.error{
    color: red;
}

input.error{
    border: 1px solid red;
}

input.valid{
    border: 1px solid green;
}

select.valid{
    border: 1px solid green;
}

select.error{
    border: 1px solid red;
}